﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Drug reactions</title>
	<meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
	<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
	<style type="text/css">
		#main-region {
			margin: 5px;
		}
	</style>
</head>
	<body>
		<script type="text/template" id="reaction-form-template">
			<div class="form-group">
				<div>
					<button type="submit" class="btn btn-success js-btn-submit">Save</button>
					<button class="btn btn-danger pull-right js-btn-cancel">Cancel</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="CauseType" value="<%= CauseType %>" />
				<label for="btnCauseType">Cause type</label>
				<div id="btnCauseType" class="btn-group input-group btn-group-justified" data-toggle="buttons" data-toggle-name="CauseType">
					<label class="btn btn-info">
						<input type="radio" value="Food" /> Food
					</label>
					<label class="btn btn-info">
						<input type="radio" value="Environment" /> Environment
					</label>
					<label class="btn btn-info">
						<input type="radio" value="Drug" /> Drug
					</label>
				</div>	
			</div>
			
			<div class="form-group">
				<label for="inputCause"><%= CauseType %> Name</label>
				<input class="form-control" id="inputCause" name="Cause" value="<%= Cause %>" placeholder="<%= CauseType %> Name" />
			</div>		
			
			<div class="form-group">
				<input type="hidden" name="ReactionType" value="<%= ReactionType %>" />
				<label for="btnReactionType">Reaction type</label>
				<div id="btnReactionType" class="btn-group input-group btn-group-justified" data-toggle="buttons" data-toggle-name="ReactionType">
					<label class="btn btn-warning">
						<input type="radio" value="Allergy" /> Allergy
					</label>
					<label class="btn btn-warning">
						<input type="radio" value="Adverse" /> Adverse
					</label>
				</div>	
			</div>

			<div class="form-group">
				<label for="inputReaction">Reaction</label>
				<input class="form-control" id="inputReaction" name="ReactionDescription" value="<%= ReactionDescription %>" placeholder="Reaction Description" />
			</div>		
		
		</script>

		<script type="text/template" id="reaction-list-template">
			<div class="panel-heading clearfix">
				Allery application
				<button type="button" class="btn btn-success pull-right js-btn-addNew">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			<ul class="list-group">

			</ul>	
		</script>

		
		<script type="text/template" id="reactions-item-template">
			<h4 class="list-group-item-heading"><%= Cause %></h4> 
			<p class="list-group-item-text"><%= ReactionDescription %></p>
		</script>
		<div id="main-region">
		</div>
		<script src="./assets/js/lib/jquery.js"></script>
		<script src="./assets/js/lib/json2.js"></script>
		<script src="./assets/js/lib/underscore.js"></script>
		<script src="./assets/js/lib/backbone.js"></script>
		<script src="./assets/js/lib/backbone.marionette.min.js"></script>
		<script src="./assets/js/lib/backbone.syphon.min.js"></script>
		<script src="./assets/js/lib/bootstrap.min.js"></script>
		<script src="./assets/js/lib/jquery.blockUI.js"></script>
		
		<script src="./assets/js/applications/reactions/app.js"></script>
		<script src="./assets/js/applications/reactions/entities/reaction.js"></script>
		<script src="./assets/js/applications/reactions/apps/reactionsApp.js"></script>

		<script src="./assets/js/applications/reactions/apps/show/show_view.js"></script>
		<script src="./assets/js/applications/reactions/apps/show/show_controller.js"></script>

		<script src="./assets/js/applications/reactions/apps/list/list_view.js"></script>
		<script src="./assets/js/applications/reactions/apps/list/list_controller.js"></script>
		<script type="text/javascript">
			$(document).ajaxStart(function () {
				$.blockUI({ message: '<img src="./assets/images/ajax-loader.gif" />', css: { border: '1px none black', backgroundColor: 'transparent', color:'white' } });
			}).ajaxStop($.unblockUI);
			DrugReactionsManager.start();
		</script>
	</body>
</html>
